.root {
	height: 100vh;
	display: flex;
	overflow: hidden;
	background: var(--bg);
	color: var(--t2);
}

.content {
	flex: 1;
	min-width: 0;
	height: 100%;
	position: relative;
	background: #0e0e11;
	overflow: auto;
}
